@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

:root {
    --primary: ;
    --black: ;
    --white: #fff;
    --text-color: #161823;

    --font-family: 'Belleza', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Belleza', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    overflow-y: overlay;
}
